.how {
	&__wrapper {
		width: 100%;
		background-color: #e3353d;
	}
	
	color: #fff;
	&-title {
		padding-top: 35px;
		margin-bottom: 15px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 98%;
		list-style: none;
		padding-left: 0;
		&-item {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}
		&-number {
			width: 16%;
			font-family: 'Playfair Display', serif;
			text-align: right;
			font-size: 35px;
			font-weight: bold;
			line-height: 40px;
		}
		&-text {
			width: 80%;
			& h4 {
				margin: 0;
				font-size: 15px;
				line-height: 16px;
			}
			& p {
				margin-top: 6px;
			}
		}
	}
	&__img {
		margin-top: -30px;
		& img {
			display: block;
		}
	}
}


@media (min-width: #{$tablet-width}) {
	.how {
		&__wrapper {
			min-height: 420px;
			background: #e3353d url('../img/how/box-tablet.jpg') 0 0 no-repeat;
			background-size: cover;
			padding-bottom: 20px;
		}
		&__img {
			display: none;
		}
		&__list {
			margin-top: 40px;
			margin-left: 40%;
			width: 54%;
			&-item {
				align-items: flex-start;
				margin-bottom: 20px;
			}
			&-text p {
				width: 310px;
			}
		}
	}
}



@media (min-width: #{$desktop-width}) {
	.how {
		background-color: transparent;
		&__wrapper {
			min-height: 700px;
			background: #e3353d url('../img/how/box-desktop.jpg') 0 0 no-repeat;
			background-size: cover;
		}
		&-title {
			margin-top: 0;
			padding-top: 60px;		}
		&__img {
			display: none;
		}
		&__list {
			margin-top: 80px;
			margin-left: 56%;
			width: 40%;
			&-item {
				align-items: flex-start;
				margin-bottom: 20px;
			}
			&-number {
				font-size: 64px;
				line-height: 68px;
			}
			&-text {
				& h4 {
					font-size: 21px;
					line-height: 24px;
				}
				& p {
					width: 390px;
					font-size: 20px;
					line-height: 24px;
				}
			}
		}
	}
}