body {
  min-width: 320px;
  margin: 0;
  background-color: #fbebea;
  font-family: 'Circe', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {
  margin: 0 auto;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (min-width: 1366px) {
  .section-title {
    font-size: 40px;
    line-height: 44px;
  }
}

.section-subtitle {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'IntroScriptR', serif;
  font-size: 22px;
  line-height: 25px;
}

@media (min-width: 768px) {
  .section-subtitle {
    font-size: 26px;
    line-height: 40px;
  }
}

@media (min-width: 1366px) {
  .section-subtitle {
    font-size: 35px;
    line-height: 40px;
  }
}

.button {
  display: block;
  padding: 12px 62px;
  background-color: #f50049;
  border-radius: 30px;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

.button:hover {
  transition: all 0.4s;
  box-shadow: 0 5px 12px rgba(255, 0, 67, 0.3);
}

.container {
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 0 0;
  width: 280px;
}

@media (min-width: 768px) {
  .container {
    width: 728px;
    /* width: 98%; */
  }
}

@media (min-width: 1366px) {
  .container {
    width: 1220px;
    /* width: 98%; */
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background: url("../img/header/header-bg-phone.png") center 0 no-repeat;
}

.page-header__logo {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.main-nav {
  background-color: #fff;
}

.main-nav__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.main-nav__phone {
  display: none;
}

.main-nav__toggle {
  cursor: pointer;
  font-size: 0;
  background-color: transparent;
  border: none;
  background: url("../img/header/burger.png") center no-repeat;
  width: 18px;
  height: 14px;
}

.site-list {
  position: absolute;
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  top: 40px;
  left: 0;
  min-width: 280px;
  padding-left: 0;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 100%;
  background-color: #e7e7e7;
  border-bottom: 1px solid #dedede;
  text-transform: uppercase;
  font-size: 12px;
}

.site-list__item a {
  color: #383838;
}

.site-list__item:hover {
  transition: all 0.4s;
  background-color: #dedede;
  border-bottom: 1px solid #e7e7e7;
}

.site-list--active {
  display: flex;
}

.header-bottom {
  min-height: 480px;
}

.header-bottom__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.header-title h1 {
  margin-top: 125px;
  margin-bottom: 12px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  line-height: 42px;
  font-weight: bold;
  letter-spacing: 0.075em;
}

.header-subtitle {
  margin: 0;
  margin-bottom: 22px;
  font-size: 36px;
}

.header-info__list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 40px;
  width: 90%;
}

.header-info__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.header-info__img {
  flex-shrink: 0;
  margin-right: 10px;
  width: 33px;
  height: 33px;
}

.header-button {
  margin-bottom: 45px;
}

.header-icon--natural {
  background: url("../img/header/natural.png") center no-repeat;
  background-size: contain;
}

.header-icon--box {
  background: url("../img/header/box.png") center no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .page-header {
    background: url("../img/header/header-bg-tablet.png") right center no-repeat;
  }

  .page-header__logo {
    margin-right: 24px;
    font-size: 20px;
    line-height: 32px;
  }

  .main-nav {
    background-color: #fff;
  }

  .main-nav__wrapper {
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .main-nav__phone {
    display: inline-block;
    flex-grow: 10;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
  }

  .main-nav__toggle {
    background-size: contain;
    width: 24px;
    height: 16px;
  }

  .site-list {
    top: 60px;
    z-index: 2;
  }

  .header-bottom {
    position: relative;
    min-height: 680px;
  }

  .header-bottom__wrapper {
    align-items: flex-start;
  }

  .header-title {
    align-items: flex-start;
    width: 50%;
  }

  .header-title h1 {
    margin-top: 108px;
    margin-bottom: 13px;
    text-align: left;
    font-size: 60px;
    line-height: 70px;
  }

  .header-subtitle {
    margin-bottom: 52px;
  }

  .header-info__list {
    flex-direction: row;
    margin-bottom: 78px;
    order: 3;
    width: 65%;
  }

  .header-info__item {
    margin-right: 10px;
    width: 50%;
  }

  .header-info__img {
    margin-right: 14px;
    width: 54px;
    height: 54px;
  }

  .header-button {
    margin-bottom: 126px;
    order: 2;
  }
}

@media (min-width: 1366px) {
  .page-header {
    background-image: none;
  }

  .page-header__logo {
    margin-right: 50px;
    font-size: 23px;
  }

  .main-nav {
    background-color: #fbebea;
  }

  .main-nav__wrapper {
    justify-content: space-between;
    align-items: flex-end;
    height: 85px;
  }

  .main-nav__phone {
    display: inline-block;
    text-align: right;
    flex-grow: 0;
    height: 18px;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: start;
    min-width: 980px;
  }

  .site-list__item {
    margin-right: 42px;
    width: auto;
    height: 20px;
    background-color: transparent;
    border: none;
    font-size: 14px;
  }

  .site-list__item:hover {
    background-color: transparent;
    border: none;
  }

  .site-list__item:hover a {
    color: #f50049;
  }

  .header-bottom {
    position: relative;
    min-height: 950px;
    background: url("../img/header/header-bg-desktop.png") right center no-repeat;
  }

  .header-title h1 {
    margin-top: 160px;
    margin-bottom: 26px;
    font-size: 78px;
    line-height: 70px;
  }

  .header-subtitle {
    margin-bottom: 60px;
  }

  .header-info__list {
    margin-bottom: 270px;
    width: 38%;
  }

  .header-info__item {
    margin-right: 10px;
    width: 50%;
  }

  .header-info__img {
    margin-right: 14px;
    width: 55px;
    height: 55px;
  }

  .header-button {
    margin-bottom: 126px;
  }
}

.catalog {
  margin-bottom: 45px;
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.catalog-list__item {
  position: relative;
}

.item-title {
  position: absolute;
  top: 0;
  left: 0;
}

.item-title h4 {
  margin: 10px;
  margin-bottom: 0;
}

.item-title p {
  margin-top: 0;
  margin-left: 10px;
  font-size: 12px;
}

.item--sm {
  position: relative;
  margin-bottom: 10px;
}

.item--lg {
  position: relative;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .catalog {
    margin-bottom: 60px;
    min-height: 900px;
  }

  .catalog-title {
    margin-top: 45px;
    text-align: left;
  }

  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-list__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 388px;
  }

  .catalog-list__item img {
    width: 100%;
  }

  .item--lg,
  .item--sm {
    box-shadow: 0 2px 10px rgba(163, 6, 60, 0.05);
  }

  .item--lg:hover,
  .item--sm:hover {
    cursor: pointer;
  }

  .item--lg {
    width: 420px;
    height: 388px;
  }

  .item--sm {
    width: 289px;
    height: 189px;
  }
}

@media (min-width: 1366px) {
  .catalog {
    margin-bottom: 100px;
    min-height: 1410px;
  }

  .catalog-title {
    margin-top: -60px;
    margin-bottom: 60px;
  }

  .catalog-list__item {
    margin-bottom: 38px;
    height: 654px;
  }

  .catalog-list__item h4 {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 24px;
    line-height: 28px;
  }

  .catalog-list__item p {
    margin-left: 40px;
    font-size: 20px;
    line-height: 24px;
  }

  .item--lg {
    width: 695px;
    height: 654px;
  }

  .item--sm {
    width: 485px;
    height: 305px;
  }
}

.constructor-title {
  margin-bottom: 10px;
  width: 80%;
}

.constructor__list {
  list-style: none;
  padding-left: 0;
}

.constructor__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
  width: 240px;
  background-color: #fff;
}

.constructor__item-title {
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #f50049;
}

.constructor__item-title span {
  margin-right: 12px;
  font-size: 30px;
}

.constructor-button {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.constructor-result h3 {
  margin-top: 36px;
  margin-bottom: 6px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  line-height: 26px;
}

.constructor-form__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.constructor-form label {
  display: block;
  margin-top: 4px;
  text-align: center;
  font-family: 'IntroScriptR', serif;
  font-size: 20px;
  line-height: 30px;
  color: #f50049;
}

.constructor-form input {
  width: 242px;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 15px;
  font-size: 13px;
  line-height: 28px;
  color: #000;
}

.constructor-form button {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-consist__img {
  width: 244px;
  height: 134px;
}

.carousel-consist__content h4 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 16px;
}

.carousel-consist__content p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 14px;
}

.carousel-consist__button {
  border: none;
}

.carousel-consist__price {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.carousel-size__slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
}

.carousel-size__img {
  position: relative;
  margin: auto 0;
}

.carousel-size__img span {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: 50%;
  margin-bottom: -8px;
}

.carousel-size__content {
  text-align: center;
}

.carousel-size__button {
  border: none;
  margin-top: 45px;
}

.carousel-decor__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-decor__img {
  position: relative;
}

.carousel-decor__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.carousel-decor__text p {
  margin: 0;
  text-align: center;
}

.carousel-decor__button {
  margin-top: 30px;
  border: none;
}

.decor-image {
  display: none;
}

.owl-dots {
  display: none;
}

.controls {
  display: none;
}

@media (min-width: 768px) {
  .constructor__list {
    width: 100%;
  }

  .constructor__item {
    margin-bottom: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
    flex-direction: row;
    width: 688px;
    box-shadow: 0 5px 13px rgba(163, 6, 60, 0.1);
  }

  .constructor__item-title {
    padding-left: 25px;
    width: 110px;
    font-size: 18px;
    line-height: 24px;
  }

  .constructor__item-title span {
    display: block;
    font-size: 36px;
    line-height: 40px;
  }

  .constructor-result h3 {
    margin-top: 10px;
    padding-left: 25px;
    font-size: 18px;
  }

  .constructor-form {
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .constructor-form label {
    text-align: center;
    display: inline;
  }

  .constructor-form button {
    margin: 0;
    margin-bottom: -16px;
    flex-grow: 2;
    padding: 15px 40px;
    margin-left: auto;
    font-size: 10px;
    line-height: 12px;
  }

  .form__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .form__item #consist {
    width: 160px;
  }

  .form__item #size {
    width: 75px;
  }

  .form__item #decor {
    width: 160px;
  }

  .decor-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    left: -60px;
    width: 42px;
    height: 42px;
    background: url("../img/icons/prev.png") center no-repeat;
  }

  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    right: -60px;
    width: 42px;
    height: 42px;
    background: url("../img/icons/next.png") center no-repeat;
  }

  .owl-carousel .owl-nav button.owl-prev:hover,
  .owl-carousel .owl-nav button.owl-next:hover {
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }

  .decor-title {
    margin-bottom: -20px;
  }

  .decor-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-slider__wrapper {
    display: flex;
  }

  .carousel-slide {
    flex-direction: row;
    justify-content: space-between;
  }

  .carousel-consist {
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    height: 240px;
  }

  .carousel-consist__img {
    margin-right: 25px;
    width: 210px;
    height: 239px;
  }

  .carousel-consist__content {
    width: 200px;
  }

  .carousel-consist__content h4 {
    margin: 0;
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;
  }

  .carousel-consist__content p {
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
  }

  .carousel-consist__button {
    cursor: pointer;
    padding: 15px 45px;
    border: none;
    font-size: 10px;
    line-height: 12px;
  }

  .carousel-consist__price {
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }

  .carousel-size {
    width: 590px;
    height: 210px;
  }

  .carousel-size__slide {
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 140px;
    height: 210px;
  }

  .carousel-size__content {
    font-size: 12px;
  }

  .carousel-size__img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .carousel-size__button {
    display: none;
  }

  .carousel-decor {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 260px;
  }

  .carousel-decor__slide {
    cursor: pointer;
  }

  .carousel-decor__button {
    display: none;
  }
}

@media (min-width: 1366px) {
  .constructor__list {
    margin-top: 50px;
    width: 100%;
  }

  .constructor__item {
    margin-bottom: 35px;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-direction: row;
    width: 1180px;
    box-shadow: 0 5px 13px rgba(163, 6, 60, 0.1);
  }

  .constructor__item-title {
    font-size: 27px;
    line-height: 30px;
  }

  .constructor__item-title span {
    font-size: 64px;
    line-height: 68px;
  }

  .constructor-result {
    width: 90%;
    margin-top: 60px;
  }

  .constructor-result h3 {
    margin-bottom: 20px;
    font-size: 27px;
    line-height: 30px;
  }

  .constructor-form {
    padding: 0 25px;
    width: 100%;
  }

  .constructor-form label {
    margin-bottom: 6px;
    font-size: 27px;
    line-height: 32px;
  }

  .constructor-form input {
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    font-size: 18px;
    line-height: 16px;
  }

  .constructor-form button {
    margin: 0;
    margin-bottom: -16px;
    padding: 20px 60px;
    margin-left: auto;
    font-size: 13px;
    line-height: 16px;
  }

  .form__item {
    align-items: flex-start;
  }

  .form__item #consist {
    width: 250px;
  }

  .form__item #size {
    width: 138px;
  }

  .form__item #decor {
    width: 250px;
  }

  .decor-item {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .decor-title {
    margin-bottom: -50px;
    width: 100%;
  }

  .decor-image {
    margin-right: 110px;
  }

  .decor-image img {
    width: 200px;
  }

  .carousel-consist {
    margin-left: auto;
    margin-right: auto;
    width: 690px;
    height: 400px;
  }

  .carousel-consist__img {
    margin-right: 25px;
    width: 344px;
    height: 390px;
  }

  .carousel-consist__content {
    width: 290px;
  }

  .carousel-consist__content h4 {
    font-size: 20px;
    line-height: 24px;
  }

  .carousel-consist__content p {
    font-size: 18px;
    line-height: 22px;
  }

  .carousel-consist__price {
    font-size: 22px;
    margin-bottom: 50px;
  }

  .carousel-consist__button {
    font-size: 12px;
    padding: 20px 60px;
  }

  .carousel-size {
    width: 860px;
    height: 310px;
  }

  .carousel-size__slide {
    width: 240px;
    height: 310px;
  }

  .carousel-size__content {
    font-size: 18px;
    line-height: 20px;
  }

  .carousel-decor {
    margin-left: auto;
    margin-right: auto;
    width: 690px;
    height: 420px;
  }

  .carousel-decor__img {
    margin-right: 25px;
    width: 344px;
    height: 420px;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__title {
  margin-top: 36px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-bottom: 45px;
  padding-left: 0;
  width: 240px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 200px;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__content h4 {
  margin: 0;
  margin-top: 8px;
}

.reviews__content h5 {
  margin: 0;
  font-weight: normal;
}

.reviews__content p {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.reviews__content span {
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
  color: #f50049;
}

.reviews__img {
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  .reviews {
    position: relative;
  }

  .reviews::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100px;
    top: -50px;
    left: 0;
    background: transparent url("../img/reviews/bg-line.png") 0 center no-repeat;
    background-size: contain;
  }

  .reviews__title {
    margin-top: 15px;
  }

  .reviews__list {
    margin-bottom: 45px;
    width: 400px;
  }

  .reviews__item {
    flex-direction: row;
    margin-top: 20px;
    height: 220px;
  }

  .reviews__img {
    margin-right: 28px;
    width: 110px;
    height: 110px;
  }

  .reviews__content {
    align-items: flex-start;
    width: 260px;
  }

  .reviews__content h4 {
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    line-height: 18px;
  }

  .reviews__content h5 {
    margin: 0;
    font-size: 14px;
  }

  .reviews__content p {
    text-align: left;
    font-size: 14px;
    line-height: 16px;
  }

  .reviews__content span {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 1366px) {
  .reviews {
    position: relative;
  }

  .reviews::before {
    background-size: cover;
  }

  .reviews__title {
    margin-top: 62px;
    margin-bottom: 40px;
  }

  .reviews__list {
    margin-bottom: 150px;
    width: 660px;
  }

  .reviews__item {
    height: 250px;
  }

  .reviews__img {
    margin-right: 50px;
    width: 210px;
    height: 210px;
  }

  .reviews__content {
    width: 380px;
  }

  .reviews__content h4 {
    font-size: 27px;
    line-height: 30px;
  }

  .reviews__content h5 {
    font-size: 20px;
    line-height: 24px;
  }

  .reviews__content p {
    font-size: 18px;
    line-height: 20px;
  }

  .reviews__content span {
    font-size: 18px;
    line-height: 20px;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about__title {
  margin-top: 10px;
  margin-bottom: 24px;
  width: 100%;
}

.about__img {
  width: 156px;
  height: 156px;
}

.about-social__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin-top: 8px;
  margin-bottom: 0;
  padding-left: 0;
  width: 90px;
}

.about-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
}

.about-social__icon {
  width: 18px;
  height: 18px;
}

.about-subtitle {
  text-align: left;
}

.about__content {
  margin-top: 15px;
  margin-bottom: 20px;
}

.about__content h3 {
  display: none;
}

.about__content h4 {
  margin: 0;
}

.about__cite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.about__cite-img {
  width: 26px;
  height: 17px;
}

.about__cite p {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  font-style: italic;
}

.about__cite-sign {
  width: 64px;
  height: 31px;
}

@media (min-width: 768px) {
  .about__wrapper {
    margin-top: 30px;
    padding: 28px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .about__title {
    display: none;
  }

  .about__img {
    order: 2;
    margin: auto 0;
    width: 314px;
    height: 314px;
  }

  .about__img img {
    width: 100%;
  }

  .about-social__list {
    order: 3;
    flex-direction: row;
    width: 100%;
    height: 40px;
  }

  .about-social__item {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .about__content {
    order: 1;
    margin-bottom: 0;
    width: 330px;
  }

  .about__content h3 {
    display: block;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    line-height: 32px;
  }

  .about__content h4 {
    font-size: 15px;
  }

  .about__cite {
    margin-bottom: 50px;
  }

  .about__cite-img {
    width: 35px;
    height: 22px;
  }

  .about__cite p {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 360px;
    font-size: 14px;
    line-height: 20px;
  }

  .about__cite-sign {
    width: 82px;
    height: 40px;
  }
}

@media (min-width: 1366px) {
  .about__wrapper {
    padding: 0;
  }

  .about__img {
    padding-right: 70px;
    width: 510px;
    height: 510px;
  }

  .about-social__list {
    margin-top: -30px;
  }

  .about__content {
    width: 560px;
  }

  .about__content h3 {
    margin-top: 60px;
    margin-bottom: 26px;
    font-size: 40px;
    line-height: 42px;
  }

  .about__content h4 {
    font-size: 20px;
    line-height: 24px;
  }

  .about__content p {
    font-size: 18px;
    line-height: 22px;
  }

  .about__cite {
    margin-top: 110px;
    margin-bottom: 110px;
  }

  .about__cite-img {
    width: 60px;
    height: 40px;
  }

  .about__cite p {
    margin-top: 36px;
    margin-bottom: 36px;
    width: 640px;
    font-size: 25px;
    line-height: 38px;
  }

  .about__cite-sign {
    width: 149px;
    height: 73px;
  }
}

.features-title {
  margin-bottom: 10px;
}

.features__one-img {
  display: none;
}

.features__one-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
  background-color: #fff;
}

.features__one-content li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__one-icon {
  padding: 12px;
  max-height: 61px;
}

.features__one-text {
  text-align: center;
}

.features__one-text h4 {
  margin: 0;
  font-size: 16px;
}

.features__one-text p {
  margin: 8px;
}

.features__two-title {
  text-align: left;
  margin-top: 39px;
}

.features__two-subtitle {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: left;
}

.features__two-content p {
  margin: 0;
  width: 95%;
}

.features__two-img {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .features-title {
    margin-bottom: 10px;
  }

  .features__one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -80px;
  }

  .features__one-img {
    display: block;
    width: 38%;
  }

  .features__one-content {
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    width: 54%;
  }

  .features__one-content li {
    flex-direction: row;
    justify-content: space-between;
  }

  .features__one-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65px;
    padding-right: 12px;
  }

  .features__one-icon img {
    width: 50px;
  }

  .features__one-text {
    text-align: left;
    width: 80%;
  }

  .features__one-text h4 {
    margin: 0;
    font-size: 16px;
  }

  .features__one-text p {
    margin: 0px;
  }

  .features__two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: -70px;
  }

  .features__two-content {
    padding-left: 28px;
    width: 45%;
  }

  .features__two-content p {
    width: 100%;
  }

  .features__two-title {
    margin-top: 0;
  }

  .features__two-subtitle {
    margin-top: 0;
  }

  .features__two-img {
    width: 54%;
    height: 100%;
  }
}

@media (min-width: 1366px) {
  .features__one-img {
    width: 42%;
  }

  .features__one-content {
    width: 55%;
    align-items: flex-start;
  }

  .features__one-icon {
    margin-right: 20px;
  }

  .features__one-icon img {
    width: 65px;
  }

  .features__one-text {
    width: 55%;
    margin-right: auto;
    font-size: 20px;
    line-height: 24px;
  }

  .features__one-text h4 {
    font-size: 20px;
    line-height: 24px;
  }

  .features__two-content {
    width: 36%;
  }

  .features__two-content p {
    font-size: 20px;
    line-height: 24px;
  }

  .features__two-title {
    margin-bottom: 20px;
  }

  .features__two-subtitle {
    margin-bottom: 12px;
  }

  .features__two-img {
    width: 60%;
  }
}

.how {
  color: #fff;
}

.how__wrapper {
  width: 100%;
  background-color: #e3353d;
}

.how-title {
  padding-top: 35px;
  margin-bottom: 15px;
}

.how__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  list-style: none;
  padding-left: 0;
}

.how__list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.how__list-number {
  width: 16%;
  font-family: 'Playfair Display', serif;
  text-align: right;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
}

.how__list-text {
  width: 80%;
}

.how__list-text h4 {
  margin: 0;
  font-size: 15px;
  line-height: 16px;
}

.how__list-text p {
  margin-top: 6px;
}

.how__img {
  margin-top: -30px;
}

@media (min-width: 768px) {
  .how {
    background-color: transparent;
  }

  .how__wrapper {
    min-height: 420px;
    background: #e3353d url("../img/how/box-tablet.jpg") 0 0 no-repeat;
    background-size: cover;
  }

  .how__img {
    display: none;
  }

  .how__list {
    margin-top: 40px;
    margin-left: 40%;
    width: 54%;
  }

  .how__list-item {
    align-items: flex-start;
    margin-bottom: 20px;
  }
}

@media (min-width: 1366px) {
  .how {
    background-color: transparent;
  }

  .how__wrapper {
    min-height: 700px;
    background: #e3353d url("../img/how/box-desktop.jpg") 0 0 no-repeat;
    background-size: cover;
  }

  .how-title {
    margin-top: 0;
    padding-top: 60px;
  }

  .how__img {
    display: none;
  }

  .how__list {
    margin-top: 80px;
    margin-left: 56%;
    width: 40%;
  }

  .how__list-item {
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .how__list-number {
    font-size: 64px;
    line-height: 68px;
  }

  .how__list-text h4 {
    font-size: 21px;
    line-height: 24px;
  }

  .how__list-text p {
    font-size: 20px;
    line-height: 24px;
  }
}